@import '../../global.scss';

.filter {
    list-style: none;
    padding: 0;
    margin: 10px;
    color: white;
    display: flex;
    justify-content: center;


    .listItem {
        margin-right: 5px;
        padding: 7px;
        border-radius: 10px;
        cursor: pointer;
        background-color: $bgColorDark;

        &.active {
            background-color: #343a40;
        }
    }
}