@import '../../global.scss';

.button {
  margin-bottom: 20px;
  padding: 10px 5px;
  border: 2px solid black;
}

.popup-content {
  margin: auto;
  background-color: $bhColorLightest;
  width: 80%;
  height: 80%;
  padding: 0px;
  border-radius: 15px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.modal {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;

  .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: 5px;
    top: 5px;
    font-size: 24px;
    background-color: $bgColorDark;
    color: white;
    border-radius: 18px;
    border: 1px solid #cfcece;
    z-index: 100;
    transition: all 1s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    .left {
      flex: 1;
      padding: 0 20px;

      .header {
        font-size: 30px;
        line-height: 36px;
        position: relative;
      }

      hr {
        background-color: $mainColor;
        border: 1px solid $mainColor;
        border-radius: 5px;
      }

      .description {
        font-size: 14px;
        margin: 15px 0;
      }

      .tags {
        display: flex;
        margin-left: -5px;
        margin-top: -5px;
        margin-bottom: 30px;
      }

      .buttons {
          
      }
    }

    .right {
      flex: 1;
      height: 100%;
      width: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
