@import '../../global.scss';

.contact-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 1200px;
  margin: auto;
  color: #1e2326;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .input-container {
    flex: 1;
    position: relative;
    color: transparent;

    label {
      position: absolute;
      cursor: text;
      transition: all 0.3s ease-in-out;
      color: $mainColor;
      left: 15px;
      top: 0px;
    }

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
      color: #ccc;
    }

    input:focus,
    textarea:focus {
      outline: none;
    }

    input:placeholder-shown + label,
    textarea:placeholder-shown + label {
      color: transparent;
      top: 35px;
      left: 35px;
    }

    input,
    textarea {
      background-color: $mainColor;
      padding: 20px 10px;
      margin: 15px 15px;
      width: 100%;
    }
  }

  .btn {
    margin: auto;
  }
}
