.app {
    height: 100vh;

    .sections {
        width: 100%;
        /*
        height: calc(100vh - 70px);
        top: 70px;
        position: relative;*/

        > * {
            width: 100vw;
            min-height: 100vh;
            /* height: calc(100vh - 70px); */
        }
    }
}